body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* Encabezado */
header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    margin: 0;
}

/* Presentación */
.presentacion {
    text-align: center;
    padding: 40px 20px;
}

.presentacion img {
    width: 400px;
    max-width: 90%;
    border-radius: 10px;
    margin: 20px;
}

/* Botón */
button {
    background-color: #222;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Tarjetas */
.tarjetas {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

.tarjeta {
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 10px #ccc;
}

/* Pie de página */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
};